# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/
*.csv
logs/predictions.csv
# Restart flag
restart.flag

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
